/*barra navegacion*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

*{
    margin: 0;
}
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background: white;
}

main {margin: 3.5rem 0;}

/*estilo navegador*/

.navigation {
    display: flex;
    position: fixed;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    top: 0
}

.navigation ul > li > a {
    color: black;
    text-decoration: none;
    }

.navigation img {
    width: 10%;
}

.navigation ul {
display: flex;
list-style: none;
color: black;
gap: 1rem;
}

/* style music for everyone*/

.music { 
    height: 600px;
    background-image: url("../img/landing.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}                                                     

.music h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.music p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

/*estilo Whats on spotify*/

.cuadros h3 {
    text-align: center;
    text-underline-offset: 0.5rem;
    text-decoration: underline #00b172;
    margin-top: 1rem;
    font-size: 2rem;
}

.song img{
    width: 20%;
}

.song {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center center;
    align-items: center;
} 

.container {
    display: flex;
    padding: 2rem 0;
}

.song p {
    max-width: 150px;
    text-align: center;
    font-weight: 100;
    font-style: 1, 5rem;
}

/* estilo kanye*/

.kanye {
    height: 800px;
    background-color: #00b172;
    background-image: url("/img/spotify-icon-white.png");
    background-position: center center;
    background-size: 100px;
    background-repeat: no-repeat;
    margin: 0 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.kanye img {
    width: 20%;
    margin: 0px
}

.kanye-contain h4 {
text-decoration: underline white;
text-underline-offset: 0.5rem;
font-size: 2rem;
margin-bottom: 2rem;
}

.kanye-contain p:nth-of-type(odd) {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

.kanye-contain p:nth-of-type(even) {
    font-weight: 100;
    font-size: 1rem;
    max-width: 200px;
    margin-bottom: 1rem;
  }
/*Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF*/